<% provide(:title, "Profile: #{@user.name}") %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= avatar_for @user %>
				<%= @user.name %>
			</h1>
		</section>
	</aside>
	<p>Balance: <%= @user.balance %></p>
	<p>Amount currently on tables: <%= @user.table_balance.values.sum %>
</div>

<div id="avatar_choices_section">
  <%= render 'change_avatar' %>
</div>

<div>
<center>
	<%= link_to "Rules of Chinese Poker", help_path, class: "btn btn-large btn-primary btn-center" %>
	<%= link_to "Find a game now!", tables_path, class: "btn btn-large btn-primary btn-center" %>
</center>
</div>