<% if !@table %>
	<% provide(:title, "No table open") %>
	<p>There is no such table open right now.</p>
	<% if signed_in? %>
		<%= link_to "Start a new table!", new_table_path, class: "btn btn-large btn-primary btn-center" %>
	<% end %>
	<%= link_to "See current list of tables", tables_path, class: "btn btn-large btn-primary btn-center" %>
<% else %>

	<% description = "Stakes: $#{@table.stakes}/point, #{@table.seats} seats, #{ (@table.ais)?"with AIs":"humans only" }" %>
	<% provide(:title, description) %>

	<h1>Table <%= @table.id %></h1>
	<h2><%= description %></h2>

	<div id = "table">
		<div id="announcements">
			<p>Announcements here</p>
		</div>
		<div id = "opponents">
		</div>
		
		<div id= "protagonist">
			<div id="protagonist_cards">
			</div>
			<div id="interface">
				<div id="sort_buttons">
					<%= image_tag("other/by_val.png", alt: "sort by value", class: "sort_button") %>
					<%= image_tag("other/by_suit.png", alt: "sort by suit", class: "sort_button") %>
					<%= image_tag("other/swap_cards.png", alt: "swap cards", class: "sort_button") %>
				</div>
				<div id="chat_box">
            <textarea id="log" disabled rows=7></textarea>
            </textarea>
            <form id="input">
                <input type="text" id="message_input">
                <input type="submit" id="send_button" value="Send">
            </form>
				</div>
				<div id="buttons">
					<ul>
						<li><a href="#">Leave Table</a></li>
						<li><a href="#">Sit out next hand</a></li>
						<li><a href="#">Fold</a></li>
						<li><a href="#">Ready</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<script type="text/template" id="opponent_template">
		<img class="table_avatar" alt: "avatar" src=<%%= '/assets/avatars/'+avatar+'_small.png' %>  >
		<div class="player_info">
			<p><%%= name %></p>
			<p><%%= "$"+balance %></p>
		</div>
		<div class="opponent_cards">
			<%= image_tag("other/back_full_stack.png", alt: "covered cards", class: "covered_cards") %>
		</div>
	</script>
	<script type="text/template" id="card_template">
		<img src= <%%= '/assets/cards/'+human_description+'.png' %> >
	</script>
<% end %>