<% if !@table %>
	<% provide(:title, "No table open") %>
	<p>There is no such table open right now.</p>
	<% if signed_in? %>
		<%= link_to "Start a new table!", new_table_path, class: "btn btn-large btn-primary btn-center" %>
	<% end %>
	<%= link_to "See current list of tables", tables_path, class: "btn btn-large btn-primary btn-center" %>
<% else %>

	<% description = "Stakes: $#{@table.stakes}/point, #{@table.seats} seats, #{ (@table.ais)?"with AIs":"humans only" }" %>
	<% provide(:title, description) %>
	<% card_file_paths %>
	<h1>Table <%= @table.id %></h1>
	<h2><%= description %></h2>

	<div id = "table" data-table_id=<%= @table.id %> data-uri="<%= request.host %>:<%= request.port %>/websocket" >
		<div id="announcements">
		</div>
		<div id = "opponents">
		</div>
		
		<div id= "protagonist">
			<div id="protagonist_card_values">
			</div>
			<div id="protagonist_cards">
			</div>

			<div id="interface">
				<div id="sort_buttons">

				</div>
				<div id="chat_box">
				</div>
				<div id="buttons">
					<ul>
						<li><a href="#">Leave Table</a></li>
						<li><a href="#">Sit out next hand</a></li>
						<li><a href="#">Fold</a></li>
						<li><a href="#">Ready</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<script type="text/template" id="opponent_template">
		<div class = "opponent_dashboard">
		</div>
		<div class = "opponent_cards">
		</div>
	</script>
	
	<script type="text/template" id="opponent_dashboard_template">
		<img class="table_avatar" alt: "avatar" src= <@= $.parseJSON('<%= small_avatar_file_paths.to_json %>'.replace(/&quot;/g, '"'))[avatar] @>  >
		<div class="player_info">
			<p><@= name @></p>
			<p><@= "$"+balance @></p>
		</div>
	</script>
	
	<script type = "text/template" id="cards_back_template">
		<%= image_tag("other/back_full_stack.png", alt: "covered cards", class: "covered_cards") %>
	</script>
	
	<script type="text/template" id="card_template">
		<img alt= <@= human_description @> src= <@= $.parseJSON('<%= card_file_paths.to_json %>'.replace(/&quot;/g, '"'))[human_description] @> >
	</script>
	
	<script type ="text/template" id="sort_buttons_template">
		<%= image_tag("other/by_val.png", alt: "sort by value", class: "sort_button", id: "sort_by_val") %>
		<%= image_tag("other/by_suit.png", alt: "sort by suit", class: "sort_button", id: "sort_by_suit") %>
		<%= image_tag("other/swap_cards.png", alt: "swap cards", class: "sort_button", id: "swap_cards") %>
	</script>
	
	<script type = "text/template" id="protagonist_card_values_template">
		<p class="protagonist_card_description"><%%= descriptions[FRONT_HAND] %></p>
		<p class="protagonist_card_description"><%%= descriptions[MID_HAND] %></p>
		<p class="protagonist_card_description"><%%= descriptions[BACK_HAND] %></p>
	</script>
	
	<script type = "text/template" id="chat_template">
		<textarea id="log" readonly rows=7></textarea>
		</textarea>
		<form id="input">
				<input type="text" id="message_input" autocomplete="off">
				<input type="submit" id="send_button" value="Send">
		</form>
	</script>
	
<% end %>